header {
    height: auto;
}

.card {
    margin-top: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.cardimg {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-position: center;
}