/*PUT YOUR CUSTOM STYLE HERE*/

/*!This style is important, do not override!*/
* {
	margin: 0;
	padding: 0;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Arial';
	margin: 0;
	box-sizing: border-box;
}

.top-bar {
	background-color: #101920;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	top: 0;
	margin-bottom: 30px;
}

.top-bar img {
	margin-right: 10px;
}

h1 {
	color: white;
	font-size: 30px;
	margin: 0px;
}

.footer {
	background-color: #101920;
	width: 100%;
	text-align: center;
	color: white;
	margin: auto;
	height: 50px;
}


.agent-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
}

.agent {
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.agent .img-container {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.agent .img-container img {
	max-width: 90%;
}

.agent .abilities {
	display: flex;
	justify-content: center;
	align-items: center;
}

.agent .ability {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.agent .ability img {
	max-width: 75%;
}

.ability:hover::after {
	content: attr(data-tooltip);
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px;
	border-radius: 5px;
	white-space: nowrap;
}

.agent .info {
	margin-top: 20px;
}

.agent .name {
	margin: 15px 0 7px;
}

@media (min-width: 600px) {
	.agent {
		max-width: 43%;
	}
}

@media (min-width: 700px) {
	.agent {
		max-width: 33%;
	}
}

@media (min-width: 800px) {

	.agent,
	.ability {
		max-width: 23%;
	}
}