<<<<<<< HEAD
header {
    height: auto;
}

.card {
    margin-top: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
=======
header {
    height: auto;
}

.card {
    margin-top: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
>>>>>>> 63e5b89a09a67cadd20b21e7c5667604c1b3cd16
